<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Productos.BE.Properties.Settings.ParcialConnectionString"
            connectionString="Data Source=PABLO-PC\SQLEXPRESS;Initial Catalog=Parcial;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Productos.BE.Properties.Settings.Alumnos1ConnectionString"
            connectionString="Data Source=PABLO-PC\SQLEXPRESS;Initial Catalog=Alumnos1;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>